In [ ]:
read write csv file 
----------------------

In [2]:
import pandas as pd

In [3]:
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv')

In [4]:
type(x)

pandas.core.frame.DataFrame

In [5]:
#nrows--->number of row want to read
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3)
x

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,119736,FL,CLAY COUNTY,498960.0,498960.0,498960.0,498960.0,498960.0,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
1,448094,FL,CLAY COUNTY,1322376.3,1322376.3,1322376.3,1322376.3,1322376.3,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
2,206893,FL,CLAY COUNTY,190724.4,190724.4,190724.4,190724.4,190724.4,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1

In [19]:
#usecols
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,usecols=[0])
x

   policyID
0    119736
1    448094
2    206893

In [20]:
#usecols
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,usecols=[2,4,5])
x

        county  hu_site_limit  fl_site_limit
0  CLAY COUNTY       498960.0       498960.0
1  CLAY COUNTY      1322376.3      1322376.3
2  CLAY COUNTY       190724.4       190724.4

In [21]:
#skiprows
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,skiprows=1)
x

,119736,FL,CLAY COUNTY,498960,498960.1,498960.2,498960.3,498960.4,792148.9,0,9979.2,0.1,0.2,30.102261,-81.711777,Residential,Masonry,1
0,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0,0,0,30.063936,-81.707664,Residential,Masonry,3
1,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0,0,0,30.089579,-81.700455,Residential,Wood,1
2,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0,0,0,30.063236,-81.707703,Residential,Wood,3

In [22]:
#skiprows
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,skiprows=5)
x

,172534,FL,CLAY COUNTY,0,254281.5,0.1,254281.5.1,254281.5.2,246144.49,0.2,0.3,0.4,0.5,30.060614,-81.702675,Residential,Wood,1
0,785275,FL,CLAY COUNTY,0,515035.62,0,0,515035.62,884419.17,0,0,0,0,30.063236,-81.707703,Residential,Masonry,3
1,995932,FL,CLAY COUNTY,0,19260000.00,0,0,19260000.00,20610000.00,0,0,0,0,30.102226,-81.713882,Commercial,Reinforced Concrete,1
2,223488,FL,CLAY COUNTY,328500,328500.00,328500,328500,328500.00,348374.25,0,16425,0,0,30.102217,-81.707146,Residential,Wood,1

In [24]:
#specifi skiprows using index
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,skiprows=[1])
x

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0,0,0,30.063936,-81.707664,Residential,Masonry,3
1,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0,0,0,30.089579,-81.700455,Residential,Wood,1
2,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0,0,0,30.063236,-81.707703,Residential,Wood,3

In [25]:
#specifi skiprows using index
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,skiprows=[1,4])
x

,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
0,448094,FL,CLAY COUNTY,1322376.3,1322376.3,1322376.3,1322376.3,1322376.3,1438163.57,0,0,0,0,30.063936,-81.707664,Residential,Masonry,3
1,206893,FL,CLAY COUNTY,190724.4,190724.4,190724.4,190724.4,190724.4,192476.78,0,0,0,0,30.089579,-81.700455,Residential,Wood,1
2,172534,FL,CLAY COUNTY,0.0,254281.5,0.0,254281.5,254281.5,246144.49,0,0,0,0,30.060614,-81.702675,Residential,Wood,1

In [27]:
# indexcol
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,index_col="policyID")
x

,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
policyID,,,,,,,,,,,,,,,,,
119736,FL,CLAY COUNTY,498960.0,498960.0,498960.0,498960.0,498960.0,792148.90,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
448094,FL,CLAY COUNTY,1322376.3,1322376.3,1322376.3,1322376.3,1322376.3,1438163.57,0,0.0,0,0,30.063936,-81.707664,Residential,Masonry,3
206893,FL,CLAY COUNTY,190724.4,190724.4,190724.4,190724.4,190724.4,192476.78,0,0.0,0,0,30.089579,-81.700455,Residential,Wood,1

In [8]:
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,header=1)
x

,119736,FL,CLAY COUNTY,498960,498960.1,498960.2,498960.3,498960.4,792148.9,0,9979.2,0.1,0.2,30.102261,-81.711777,Residential,Masonry,1
0,448094,FL,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0,0,0,0,30.063936,-81.707664,Residential,Masonry,3
1,206893,FL,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0,0,0,0,30.089579,-81.700455,Residential,Wood,1
2,333743,FL,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0,0,0,0,30.063236,-81.707703,Residential,Wood,3

In [9]:
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,header=None)
x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
1,119736,FL,CLAY COUNTY,498960,498960,498960,498960,498960,792148.9,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
2,448094,FL,CLAY COUNTY,1322376.3,1322376.3,1322376.3,1322376.3,1322376.3,1438163.57,0,0,0,0,30.063936,-81.707664,Residential,Masonry,3

In [11]:
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,header=None,prefix='col')
x

,col0,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10,col11,col12,col13,col14,col15,col16,col17
0,policyID,statecode,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity
1,119736,FL,CLAY COUNTY,498960,498960,498960,498960,498960,792148.9,0,9979.2,0,0,30.102261,-81.711777,Residential,Masonry,1
2,448094,FL,CLAY COUNTY,1322376.3,1322376.3,1322376.3,1322376.3,1322376.3,1438163.57,0,0,0,0,30.063936,-81.707664,Residential,Masonry,3

In [12]:
x=pd.read_csv('C:\\Users\\acer\\Downloads\\demo_csv.csv',nrows=3,usecols=[2,4,5],names=['a','b','c'])
x

             a              b              c
0       county  hu_site_limit  fl_site_limit
1  CLAY COUNTY         498960         498960
2  CLAY COUNTY      1322376.3      1322376.3

In [3]:
x=pd.read_csv('data.csv')
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
Duration    169 non-null int64
Pulse       169 non-null int64
Maxpulse    169 non-null int64
Calories    164 non-null float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [5]:
x.dropna()
print(x)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
..        ...    ...       ...       ...
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [ ]:
write
-------

In [6]:
x=pd.read_csv('data.csv')